.auth_container {
  width: 100% !important;
  padding-top: 10% !important;
}

@media (min-width: 1200px) {
  .auth_container {
    width: 50% !important;
  }
}

.loginText {
  color: blue;
  width: fit-content;
}

.loginText:hover {
  color: rgb(172, 63, 172);
  cursor: pointer;
}
